name: Pages
on:
  workflow_dispatch:

permissions:
  contents: write

concurrency: pages

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install
      - run: npx postcss --dir assets/module.postcss assets/module.css/**/*.css --base assets/module.css

      - name: Setup
        run: |
          cargo install --locked trunk

      - name: Build
        run: |
          trunk build --release

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
